# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
pip-wheel-metadata/

# Python tooling caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.env/
.venv/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
